<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <title>Potomac Code Camp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Computer Programming Summer Classes for 9-13 year olds in Potomac.">
    <meta name="author" content="prettystrap">

    <!-- Le styles -->
      <link href="less/style.min.css" rel="stylesheet"> 

    <!--Import Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    <!-- Le fav  -->
    <link rel="shortcut icon" href="ico/favicon.ico">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
    if (typeof jQuery == 'undefined') {
      document.write(unescape("%3Cscript src='js/jquery-1.9.1.min.js' type='text/javascript'%3E%3C/script%3E"));
    }
    </script>
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-41943050-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>


    <!--Has to be in head, to lazy load images.
    Minimize in production. -->

    <script src="js/lazyload.js"></script>
    <script src="js/jRespond.js"></script>
    <script src="js/spin.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/lightbox.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/placeholderPlugin.js"></script>
    <script src="js/viewport.js"></script>

    <!-- Main js fail. -->
    <script src="js/main.js"></script>

  </head>

  <body id="top" data-spy="scroll" data-target=".navbar">

       <!-- Brand and Navigation -->
      <header class="navbar navbar-fixed-top">
        <div class="inner-page">
          <h1 class="logo">Potomac Code Camp</h1>
          <a class="btn-nav" data-toggle="collapse" data-target=".nav-collapse">
            <i class="icon-reorder"></i>
          </a>
          <div class="nav-collapse collapse">
            <ul class="nav navigation" id="menu">
              <li class="active"><a class="scroll brand-1" href="/#home">Home</a></li>
              <li><a class="scroll brand-1" href="/#curriculum">Curriculum</a></li>
              <li><a class="scroll brand-1" href="/#about">About</a></li>
              <li><a class="scroll brand-1" href="/#program">Program Info</a></li>
              <li><a class="scroll brand-1" href="/#application">Application</a></li>
              <li><a class="scroll brand-1" href="/#contact">Contact</a></li>
            </ul>
          </div> 
        </div>
      </header>

      <div id="home" class="page color-1 anchor full-height">
        <div class="inner-page">
          <h2 class="page-headline large">Thank you for applying to Potomac Code Camp!</h2>
          <h4 class="text-center">You will receive a confirmation email shortly regarding your application.</h4>
        </div>
      </div>

      <script>
      $(function() {
        $('input, textarea').placeholder();
      });
    </script>

    <script>
      $('#home.full-height').css('height', document.documentElement.clientHeight - 210);
      // 210 = 100 (padding) + 110 (footer) ... header excluded b/c inverse margin
    </script>

    <!-- The footer, social media icons, and copyright -->        
    <footer class="page color-5">
      <div class="inner-page row-fluid">
        <div class="span6 social">
          <a href="https://github.com/ameen3/summercamp"><i class="icon-github-sign"></i></a>    
          <!--<a href="#contact"><i class="icon-facebook-sign"></i></a>-->
        </div>
        <div class="span6 text-right copyright">
          &copy; 2013 <a href="#" title="twitter bootstrap themes">potomaccodecamp</a> | all rights reserved |  <a href="#top"   title="Got to top" class="scroll">To top <i class="icon-caret-up"></i></a>
        </div>
      </div>
    </footer>
  </body>
</html>